.app-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;

  app-controls {
    flex-shrink: 0; /* Empêche le header de s'écraser */
  }

  main {
    flex-grow: 1;
    position: relative; /* Base pour le viewport */
    width: 100%;
    overflow: hidden;
  }

  .viewport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:fullscreen .app-container {
  app-controls {
    display: none;
  }

  main {
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .viewport {
    border: none;
    background: black;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}
